@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body {

}
.container_menu {
    width: 100%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
.container_menu img {
    display: block;
    width: 30px;
    height: 30px;
}
.container_jumbotron {
    width: 100%;
    height: 600px;
    background-color: grey;
    position: relative;
    /* background-image: linear-gradient(#FFC069 70%,white ) */
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position-y: -200px;
    background-repeat: no-repeat;
}
.container_jumbotron .tagline {
    color: white;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 42%;
    font-family: sans-serif;
}
.container_jumbotron .tagline h1 {
    font-size: 62px;
}
.container_video {
    width: 100%;
    height: auto;
    margin: 25px 0px 0px 0px;
}
.container_video .container_desc_video {
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 0% 2%;
    line-height: 175%;
}
.container_video .container_desc_video p {
    font-family: 'Merriweather', serif;
}
.container_video .container_desc_video h1 {
    font-size: 42px;
}
.container_video .video {
    width: 100%;
    height: 450px;
    margin: auto;
    background-color: #6faa62;
}
/* .container_jumbotron .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    clip-path: circle(500px at right 600px);
} */
.container_content {
    width: 100%;
    height: auto;
    margin: 0px 0px;
}
.container_content h1 {
    
}
.container_content content {

}
.container_content .one {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.container_content .one .container_image {
    width: 500px;
    height: 350px;
    background-image: url(../images/image-3.jpg);
    background-size: cover;
}
.container_content .one .container_desc {
    width: 750px;
    height: 350px;
    padding: 8% 2%;
    text-align: center;
}
.container_content .one .container_desc .button {
    width: 150px;
    height: 50px;
    background-color: #6faa62 ;
    border-radius: 25px;
    margin: auto;
    margin-top: 3%;
    padding: 2% 0%;
}
.container_content .two {
    width:100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    background-color: #dcdce1;
}
.container_content .two .container_desc {
    width: 750px;
    height: 350px;
    order: 1;
    padding: 8% 2%;
    text-align: center;
    vertical-align: middle;
}
.container_content .two .container_desc .button {
    width: 150px;
    height: 50px;
    background-color: #6faa62 ;
    border-radius: 25px;
    margin: auto;
    margin-top: 3%;
    padding: 2% 0%;
}
.container_content .two .container_image {
    width: 500px;
    height: 350px;
    background-image: url(../images/image-1.jpg);
    background-size: cover;
    order: 2;
}
.container_content .three {
    width:100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.container_content .three .container_desc {
    width: 750px;
    height: 350px;
    padding: 8% 2%;
    text-align: center;
}
.container_content .three .container_desc .button {
    width: 150px;
    height: 50px;
    background-color: #6faa62 ;
    border-radius: 25px;
    margin: auto;
    margin-top: 3%;
    padding: 2% 0%;
    color: black;
}
.container_content .three .container_image {
    width: 500px;
    height: 350px;
    background-image: url(../images/image-3.jpg);
    background-size: cover;
    
}
.container_creator {
    width: 100%;
    height: 600px;
    text-align: center;
    padding: 0% 2%;
    background-color: #dcdce1;
    padding: 2% 0%;
}
.container_creator h1 {
    
}
.container_creator .container_card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 25px 0px 0px 0px;
}
.container_creator .container_card .creator {
    width: 30%;
    height: 400px;
}
.container_creator .container_card .one {
    background-image: url(../images/card-1.jpg);
    background-size: cover;
}
.container_creator .container_card .two {
    background-image: url(../images/card-3.jpg);
    background-size: cover;
}
.container_creator .container_card .three {
    background-image: url(../images/card-2.jpg);
    background-size: cover;
}

.container_product {
    width: 100%;
    height: 600px;
    text-align: center;
    margin:0px 0px;
    padding: 2% 0%;
}
.container_product .container_card_product {
    width: 100%;
    height: 500px;
    
    display: flex;
    justify-content: space-around;
    padding: 2% 0%;
}
.container_product .container_card_product .product {
    width: 30%;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, #6faa62 0px 2px 4px -1px;
    
}
.container_product .container_card_product .product .button {
    width: 150px;
    height: 50px;
    background-color: #6faa62 ;
    border-radius: 25px;
    margin: auto;
    margin-top: 3%;
    padding: 4% 0%;
    color: black;
}
.container_product .container_card_product .product .image-product {
    width: 100%;
    height: 350px; 
}
.container_product .container_card_product .satu .image-product {
    background-image: url(../images/produk-1.jpg);
    background-size: cover;
}
.container_product .container_card_product .dua .image-product {
    background-image: url(../images/asd.jpg);
    background-size: cover;
}
.container_product .container_card_product .tiga .image-product {
    background-image: url(../images/qwe.jpg);
    background-size: cover;
}
.asd {
    width: 100%;
    height: 150px;
    background-color: grey;
}

@media only screen and (max-width: 480px) {
    .container_jumbotron {
        width: 100%;
        height:500px;
        position: relative;
        /* background-image: linear-gradient(#FFC069 70%,white ) */
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position-x: -150px;
        background-position-y:0px;
        background-repeat: no-repeat;
    }
    .container_jumbotron .tagline {
        color: white;
        width: 70%;
        text-align: center;
        position: absolute;
        left: 16%;
        top: 40%;
        font-family: sans-serif;
    }
    .container_jumbotron .tagline h1 {
        font-size: 36px;
        
    }
    .container_video .container_desc_video {
        width: 100%;
        height: 350px;
        text-align: center;
        padding: 0% 2%;
        line-height: 175%;
    }
    .container_content .one {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .container_content .one .container_image {
        width: 100%;
        height: 350px;
        background-image: url(../images/image-3.jpg);
        background-size: cover;
        background-position-x: 50%;
    }
    .container_content .one .container_desc {
        width: 100%;
        height: 300px;
        padding: 8% 2%;
        text-align: center;
        line-height: 140%;
    }
    .container_content .one .container_desc .button {
        width: 150px;
        height: 50px;
        background-color: #6faa62 ;
        border-radius: 25px;
        margin: auto;
        margin-top: 3%;
        padding-top: 3%;
    }
    .container_content .two {
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
        margin-bottom: 25px;
    }
    .container_content .two .container_desc {
        width: 100%;
        height: 325px;
        order: 1;
        padding: 8% 2%;
        text-align: center;
        vertical-align: middle;
        line-height: 140%;
    }
    .container_content .two .container_desc h1 {
        line-height: 130%;
    }
    .container_content .two .container_desc .button {
        width: 150px;
        height: 50px;
        background-color: #6faa62 ;
        border-radius: 25px;
        margin: auto;
        margin-top: 3%;
        padding-top: 3%;
    }
    .container_content .two .container_image {
        width: 100%;
        height: 350px;
        background-image: url(../images/image-1.jpg);
        background-size: cover;
        background-position-x: 40%;
        order: 2;
    }
    .container_content .three {
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .container_content .three .container_desc {
        width: 100%;
        height: 350px;
        padding: 8% 2%;
        line-height: 140%;
        text-align: center;
    }
    .container_content .three .container_desc h1 {
        line-height: 130%;
    }
    .container_content .three .container_desc .button {
        width: 150px;
        height: 50px;
        background-color: #6faa62 ;
        border-radius: 25px;
        margin: auto;
        margin-top: 3%;
        padding-top:3%;
        color: black;
    }
    .container_content .three .container_image {
        width: 100%;
        height: 350px;
        background-image: url(../images/image-3.jpg);
        background-size: cover;
        background-position-x: 50%;
    }
    .container_product {
        width: 100%;
        height: auto;
        text-align: center;
        margin:0px 0px;
        padding: 2% 0%;
    }
    .container_product .container_card_product {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 2% 0%;
    }
    .container_product .container_card_product .product {
        width: 75%;
        height: 450px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, #6faa62 0px 2px 4px -1px;
        margin: auto;
    }
    .container_product .container_card_product .satu {
        margin-bottom: 25px;
    }
    .container_product .container_card_product .dua {
        margin-bottom: 25px;
    }
    .container_product .container_card_product .tiga {
        margin-bottom: 25px;
    }
    
}